1_foundation/.ipynb_checkpoints/
2_neighborhood-ops/.ipynb_checkpoints/
3_cnn/.ipynb_checkpoints/
4_object-detection/.ipynb_checkpoints/
5_segmentation/.ipynb_checkpoints/
6_video-analytics/.ipynb_checkpoints/
data/
